# Drinking Habits and Integrity of College Students
A student survey was conducted at a major university. Data were collected from a random sample of 236 undergraduate students, and the information that was collected included physical characteristics (such as height and handedness), study habits, academic performance and attitudes, and social behaviors. In this exercise we will focus on exploring relationships between some of those variables. Note that (a) these are **real** data, and (b) the symbol * in the worksheet means that this observation is not available (this is known as a 'missing value').

In [1]:
%matplotlib inline

In [2]:
import pandas as pd

In [11]:
data = pd.read_excel('drinking.xls')
data.head()

   Gender Alcohol  Height  Cheat
0  Female      15    64.0      0
1    Male      14    69.0      0
2  Female       *    66.0      0
3  Female      10    63.0      0
4    Male      30    72.0      0

In [12]:
# Get shape of data
data.shape

(236, 4)

In [13]:
# Describe the data
data.describe()

           Height       Cheat
count  236.000000  236.000000
mean    66.765890    0.084746
std      3.814936    0.279095
min     59.500000    0.000000
25%     64.000000    0.000000
50%     67.000000    0.000000
75%     69.125000    0.000000
max     76.500000    1.000000

In [15]:
# Get info of data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 4 columns):
Gender     236 non-null object
Alcohol    236 non-null object
Height     236 non-null float64
Cheat      236 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 7.5+ KB

# Exercise
1. Out of the first ten students in the datafile, how many drink 15 or more alcoholic beverages per week?

In [16]:
data.head(10)

   Gender Alcohol  Height  Cheat
0  Female      15    64.0      0
1    Male      14    69.0      0
2  Female       *    66.0      0
3  Female      10    63.0      0
4    Male      30    72.0      0
5  Female      20    67.0      0
6    Male      15    69.0      0
7    Male      15    74.0      0
8    Male       0    72.0      0
9  Female       0    63.0      0

In [19]:
# Count number of rows with Alcohol as *
data[data.Alcohol == '*'].count()

Gender     30
Alcohol    30
Height     30
Cheat      30
dtype: int64

In [26]:
# Let's get the first 10 rows and exclude *
data1 = data.head(10)[data.Alcohol != '*']
# Convert Alcohol values to flat
data1['Alcohol'] = data1['Alcohol'].astype(float)
data1

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

   Gender  Alcohol  Height  Cheat
0  Female     15.0    64.0      0
1    Male     14.0    69.0      0
3  Female     10.0    63.0      0
4    Male     30.0    72.0      0
5  Female     20.0    67.0      0
6    Male     15.0    69.0      0
7    Male     15.0    74.0      0
8    Male      0.0    72.0      0
9  Female      0.0    63.0      0

In [30]:
# Get count of students that drink 15 or more
data1[data1['Alcohol'] >= 15].shape[0]

5